html,
body {
  height: 100%;
}
.search-flex {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin-top: 15%;
}

.search-col {
  margin-right: 10px;
  width: 30%;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  border: solid black;
  outline: none;
  background: transparent;
}

.search-col-2 {
  margin-left: 10px;
  width: 30%;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  border: solid black;
  outline: none;
  background: transparent;
}

.button-flex {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin-top: 1%;
}

.sub-button {
  margin-top: 10px;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  border: solid black;
  outline: none;
  background: transparent;
}

@media screen and (max-width: 600px) {
  .search-flex {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin-top: 50%;
  }
}
